* {
    box-sizing: border-box !important;
}

body {
    margin: 0;
    padding: 0;
    background: #233637;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

html {
    font-size: 62.5%;
}

.head_container {
    display: flex;
    flex-direction: row;
}

.head {
    width: 35rem;
    height: 35rem;
    background-color: brown;
    border: 1rem solid black;
    border-radius: 50%;
    position: relative;
}

.nose {
    width: 14rem;
    height: 14rem;
    background-color: brown;
    border-top: 1rem solid black;  
    border-left: 1rem solid black;  
    border-bottom: 1rem solid black;  
    position: absolute;
    bottom: 3rem;
    left: -8rem;
    overflow: hidden;
    border-bottom-left-radius: 7rem;
    border-top-left-radius: 25%;
}

.head::before {
    content: "";
    width: 8rem;
    height: 1rem;
    background-color: brown;
    position: absolute;
    top: 16rem;
    left: 0rem;
    display: inline-block;
    z-index: 2;
    visibility:visible;
}

.mouth {
    width: 25rem;
    height: 15rem;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    transform: translate(-50%, 10%);
    border: 1rem solid black;  
}

.snoot {
    background: red;
    width: 5rem;
    height: 5rem;
    border: .5rem solid black;
    border-radius: 50%;
    left: -10rem;
    top: 13rem;
    position: absolute;
    animation: pulse 3s ease-in-out infinite;
    z-index: 5;
    
}

.snoot::after {
    content: "";
    background-color: transparent;
    width: 70%;
    height: 70%;
    position: absolute;
    border: .5rem solid transparent;
    border-top: .5rem solid rgb(247, 181, 181);
    border-radius: 50%;
    transform: rotate(45deg);
}

.smile {
    width: 20rem;
    height: 20rem;
    position: absolute;
    border-bottom: 3rem solid black;
    border-radius: 50%;
    z-index: 3;
    background: transparent;
    transform: translateY(-50%) rotate(20deg);
}

.eye {
    position: absolute;
    background-color: white;
    width: 11rem;
    height: 11rem;
    border: 1rem solid black;
    /*border-radius: 50%;*/
    transform: rotate(-75deg) skewY(10deg);
    border-radius: 0 50% 50% 50%;
    left: 5.5rem;
    top: 5.5rem;
    overflow: hidden;
}

.pupil {
    position: absolute;
    content: "";
    background-color: black;
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    top: -4rem;
    left: -4rem;
}

.left_ear {
    position: absolute;
    background-color: brown;
    width: 16rem;
    height: 13rem;
    border: 1rem solid black;
    /*border-radius: 50%;*/
    transform: rotate(90deg);
    border-radius: 0 50% 50% 50%;
    left: 20rem;
    top: -3rem;
    overflow: hidden;
    
}

.left_ear::after {
    content: "";
    position: absolute;
    background-color: coral;
    width: 14rem;
    height: 7rem;
    right: -3rem;
    bottom: 0;
    transform: rotate(0deg);
    border-bottom-left-radius: 28rem;
    border-top-right-radius: 28rem;
}

.right_ear {
    position: absolute;
    background-color: brown;
    width: 16rem;
    height: 13rem;
    border: 1rem solid black;
    /*border-radius: 50%;*/
    transform: rotate(90deg);
    border-radius: 0 50% 50% 50%;
    left: 15rem;
    top: -3.75rem;
    z-index: -2;
}

.horn {
    background-color: rgb(122, 22, 22);
    border: .5rem solid black;
    width: 4rem;
    height: 5rem;
    border-radius: 50% 50% 10% 20%;
    left: 16rem;
    position: absolute;
    top: -2rem;
    transform: rotate(10deg);
}

@keyframes pulse {
    0% { box-shadow: 0 0 0rem 0rem red; }
    50% { box-shadow: 0 0 20rem 20rem red; }
    100% { box-shadow: 0 0 0rem 0rem red; }
}






