* {
    box-sizing: border-box !important;
}

body {
    margin: 0;
    padding: 0;
    background: #233637;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

html {
    font-size: 62.5%;
}

.brackets {
    width: 20rem;
    height: 17.5rem;
    background-color: white;
    border-radius: 15%;
    box-shadow: 0 0 0 2.8rem #28a9e1,
    0 2.8rem 0 2.8rem #115a91;
    position: relative;
}

.brackets::before {
    content: "";
    width: 50%;
    height: 44%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2.8rem solid #4d4d4d;
}

.brackets::after {
    content: "";
    width: 2.8rem;
    height: 80%;
    background-color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

