* {
    box-sizing: border-box !important;
}

body {
    margin: 0;
    padding: 0;
    background: #233637;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

html {
    font-size: 125%;
}

.gear {
    width: 11rem;
    height: 11rem;
    background-color: #5dc59d;
    border-radius: 50%;
    animation: spin 1.4s linear infinite;
}

.gear-inner {
    position: absolute;
    width: 5.5rem;
    height: 5.5rem;
    background-color: rgb(145, 145, 145);
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.bar {
    width: 17rem;
    height: 4rem;
    background-color: #5dc59d;
    border-radius: .7rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

.bar:nth-child(2) {
    transform: translate(-50%, -50%) rotate(60deg);
}

.bar:nth-child(3) {
    transform: translate(-50%, -50%) rotate(-60deg);
}

@keyframes spin {
    0% { transform: translate(-50%, -50%) rotate(0deg); }
    100% { transform: translate(-50%, -50%) rotate(60deg); }
}