* {
    box-sizing: border-box !important;
}

body {
    margin: 0;
    padding: 0;
    background: #233637;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

html {
    font-size: 125%;
}

.logo {
    width: 15rem;
    height: 15rem;
    background-color: #f05033;
    border-radius: 1.5rem;
    position: relative;
    transform: rotate(45deg);
}

.line1 {
    width: 11rem;
    height: 1.2rem;
    background-color: white;
    position: absolute;
    top: 4rem;
}   

.line1::before {
    content: "";
    width: 3rem;
    height: 3rem;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    left: 3rem;
    top: -.8rem;
}

.line1::after {
    content: "";
    width: 3rem;
    height: 3rem;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    left: 9rem;
    top: -.8rem;
}

.line2 {
    width: 9rem;
    height: 1.2rem;
    background-color: white;
    position: absolute;
    top: 7rem;
    left: 3rem;
    transform: rotate(45deg);
}   

.line2::before {
    content: "";
    width: 3rem;
    height: 3rem;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    left: 7rem;
    top: -.8rem;;
}