* {
    box-sizing: border-box !important;
}

body {
    margin: 0;
    padding: 0;
    background: #233637;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

html {
    font-size: 62.5%;
}

.coffeemug {
    position: relative;
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    background-color: #3f2616;
    box-shadow: 0 0 0 1rem #442918,
    0 0 0 2.5rem #3c2415,
    0 0 0 4.2rem #fe9407,
    0 0 0 6.5rem #feaa3a,
    0 12rem 0 -2.5rem #3c2415,
    10rem 7rem 0 -2.5rem #3c2415,
    8rem 14rem 0 -1rem #3c2415,
    0 21rem 0 -5.5rem #3c2415,
    2rem 25rem 0 -6.5rem #3c2415;
}

.coffeemug::before {
    content: "";
    position: absolute;
    height: 7.5rem;
    width: 6rem;
    background-color: #e49934;
    top: -8.5rem;
    right: -7.5rem;
    border-radius: .5rem;
    transform: rotate(45deg);
}

